<h1>Popcorn</h1>

<div class="popcorn-page">
  <section class="popcorn-header-section">
    <p>
      Popcorn is the most tasty food in the world, according to the popcorn manufacturing industry.
      Just look at that:
    </p>

    <div class="centered-image-container">
      <img width="100" src="{{ "popcorn" |> icon("lucide") }}" aria-hidden="true" inline alt="icon">
    </div>
  </section>
</div>




