<footer>
  <nav>
    <ul>
      <li>
        <a href="/legalnotice">Legal Notice</a>
      </li>
      <li>
        <a href="/privacypolicy">Privacy Policy</a>
      </li>
    </ul>
  </nav>
</footer>
