<footer class="main-footer">
  <nav class="container footer-nav">
  <hr>
    <ul class="footer-links">
      <li>
        <a class="anchor" href="/legalnotice">Legal Notice</a>
      </li>
      <li>
        <a class="anchor" href="/privacypolicy">Privacy Policy</a>
      </li>
    </ul>
  </nav>
</footer>
