<nav class="container">
  <div class="header-nav">
    <a class="logo-title-section" href="/" title="to home page">
      <img class="site-logo" src="/assets/images/popcorn_icon.svg" alt="website logo" />
    </a>

    <ul class="nav-links">
      <li>
        <a href="/popcorn">Popcorn</a>
      </li>
      <li>
        <a href="/pacman">Pacman</a>
      </li>
      <li>
        <a href="/banana-meter">Banana Meter</a>
      </li>
    </ul>
  </div>
</nav>
