<nav>
  <div class="header-nav">
    <ul>
      <li>
        <a href="/popcorn">Popcorn</a>
      </li>
      <li>
        <a href="/pacman">Pacman</a>
      </li>
      <li>
        <a href="/banana-meter">Banana Meter</a>
      </li>
    </ul>
  </div>
</nav>
