<nav class="container">
  <div class="header-nav">
    <a class="logo-title-section" href="/" title="to home page">
      <img class="site-logo" src="/assets/images/popcorn_icon.svg" alt="website logo" />
    </a>

    <ul class="nav-links">
      {{ await comp.staticNavLinks() }}
    </ul>
  </div>
</nav>
