<li>
  <a href="/popcorn">
  <img src="{{ "popcorn" |> icon("lucide") }}" aria-hidden="true" inline alt="icon">
  <span>Popcorn</span>
  </a>
</li>
<li>
  <a href="/pacman">
  <img src="{{ "ghost" |> icon("lucide") }}" aria-hidden="true" inline alt="icon">
  <span>Pacman</span>
  </a>
</li>
<li>
  <a href="/banana-meter">
  <img src="{{ "banana" |> icon("lucide") }}" aria-hidden="true" inline alt="icon">
  <span>Banana Meter</span>
  </a>
</li>
